.Scoreboard {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    left: 50px;
    top: 50px;
    border: 5px solid ghostwhite;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    font-family: monospace;
    font-size: 16px;
    color: white;
}

.Scoreboard--active {
    display: block;
}

.Scoreboard-row {
    height: 20px;
    padding: 10px 20px;
    border-bottom: 1px solid white;
}

.Scoreboard--right {
    float: right;
    padding-left: 10px;
}
